<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jit.platform.mapper.BatteryAssetInfoMapper">
    <resultMap id="BaseResultMap" type="com.jit.platform.entity.BugEntity">
        <id column="bug_id" jdbcType="BIGINT" property="bugId"/>
        <result column="bug_name" jdbcType="VARCHAR" property="bugName"/>
        <result column="bug_type" jdbcType="VARCHAR" property="bugType"/>
        <result column="bug_level" jdbcType="TINYINT" property="bugLevel"/>
        <result column="bug_addr" jdbcType="VARCHAR" property="bugAddr"/>
        <result column="bug_source" jdbcType="VARCHAR" property="bugSource"/>
        <result column="bug_tip" jdbcType="VARCHAR" property="bugTip"/>
        <result column="bug_flag" jdbcType="TINYINT" property="bugFlag"/>
        <result column="judge_time" jdbcType="TIMESTAMP" property="judgeTime"/>
        <result column="fix_time" jdbcType="TIMESTAMP" property="fixTime"/>
        <result column="dead_line" jdbcType="TIMESTAMP" property="deadLine"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <insert id="save" parameterType="com.jit.platform.entity.BugEntity">
        insert into bug
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bugId != null">
                bug_id,
            </if>
            <if test="bugName != null">
                bug_name,
            </if>
            <if test="bugType != null">
                bug_type,
            </if>
            <if test="bugLevel != null">
                bug_level,
            </if>
            <if test="bugAddr != null">
                bug_addr,
            </if>
            <if test="bugSource != null">
                bug_source,
            </if>
            <if test="bugTip != null">
                bug_tip,
            </if>
            <if test="bugFlag != null">
                bug_flag,
            </if>
            <if test="judgeTime != null">
                judge_time,
            </if>
            <if test="fixTime != null">
                fix_time,
            </if>
            <if test="deadLine != null">
                dead_line,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bugId != null">
                #{bugId,jdbcType=BIGINT},
            </if>
            <if test="bugName != null">
                #{bugName,jdbcType=VARCHAR},
            </if>
            <if test="bugType != null">
                #{bugType,jdbcType=VARCHAR},
            </if>
            <if test="bugLevel != null">
                #{bugLevel,jdbcType=TINYINT},
            </if>
            <if test="bugAddr != null">
                #{bugAddr,jdbcType=VARCHAR},
            </if>
            <if test="bugSource != null">
                #{bugSource,jdbcType=VARCHAR},
            </if>
            <if test="bugTip != null">
                #{bugTip,jdbcType=VARCHAR},
            </if>
            <if test="bugFlag != null">
                #{bugFlag,jdbcType=TINYINT},
            </if>
            <if test="judgeTime != null">
                #{judgeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fixTime != null">
                #{fixTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deadLine != null">
                #{deadLine,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP}

            </if>
        </trim>
<!--
        ON DUPLICATE KEY update
        <trim suffixOverrides=",">
            <if test="employeeNumber != null">
                employee_number = #{employeeNumber,jdbcType=VARCHAR},
            </if>
            <if test="snCode != null">
                sn_code = #{snCode,jdbcType=VARCHAR},
            </if>
            <if test="assetTrackCode != null">
                asset_track_code = #{assetTrackCode,jdbcType=VARCHAR},
            </if>
            <if test="assetTypeCode != null">
                asset_type_code = #{assetTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="subStatus != null">
                sub_status = #{subStatus,jdbcType=TINYINT},
            </if>
            <if test="holder != null">
                holder = #{holder,jdbcType=TINYINT},
            </if>
            <if test="holderCode != null">
                holder_code = #{holderCode,jdbcType=VARCHAR},
            </if>
            <if test="holderName != null">
                holder_name = #{holderName,jdbcType=VARCHAR},
            </if>
            <if test="subHolder != null">
                sub_holder = #{subHolder,jdbcType=TINYINT},
            </if>
            <if test="subHolderCode != null">
                sub_holder_code = #{subHolderCode,jdbcType=VARCHAR},
            </if>
            <if test="subHolderName != null">
                sub_holder_name = #{subHolderName,jdbcType=VARCHAR},
            </if>
            <if test="orderCount != null">
                order_count = #{orderCount,jdbcType=INTEGER},
            </if>
            <if test="damageType != null">
                damage_type = #{damageType,jdbcType=TINYINT},
            </if>
            <if test="systemIdentifyFail != null">
                system_identify_fail = #{systemIdentifyFail,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
            </if>
        </trim>
-->
    </insert>

 <!--   <delete id="deleteBatteryAssetInfoBySns">
        delete from bug
        where sn_code in
        <foreach collection="sns" item="snCode" index="index" separator="," open="(" close=")">
            #{snCode}
        </foreach>
    </delete>
-->

    <select id="page" resultMap="BaseResultMap">
        SELECT
        *
        FROM bug
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="model.employeeNumber != null">AND t.employee_number = #{model.employeeNumber}</if>
            <if test="model.status != null">AND t.status = #{model.status}</if>
            <if test="model.subStatus != null">AND t.sub_status = #{model.subStatus}</if>
            <if test="model.holder != null">AND t.holder = #{model.holder}</if>
            <if test="model.subHolder != null">AND t.sub_holder = #{model.subHolder}</if>
            <if test="model.systemIdentifyFail != null">AND t.system_identify_fail = #{model.systemIdentifyFail}</if>
            <if test="model.endTime != null">AND t.gmt_modify <![CDATA[ <= ]]> #{model.endTime}</if>
            <if test="model.startTime != null">AND t.gmt_modify >= #{model.startTime}</if>
        </trim>
        ORDER BY t.gmt_modify DESC
        LIMIT #{pageIndex}, #{pageSize}
    </select>

</mapper>