<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jit.platform.mapper.BatteryAssetInfoMapper">
    <resultMap id="BaseResultMap" type="com.jit.platform.entity.RoleEntity">
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_tip" jdbcType="VARCHAR" property="roleTip"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>


    <insert id="save" parameterType="com.jit.platform.entity.RoleEntity">
        insert into bug
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleTip != null">
                role_tip,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,

            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleTip != null">
                #{roleTip,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},

            </if>
        </trim>
        <!--
                ON DUPLICATE KEY update
                <trim suffixOverrides=",">
                    <if test="employeeNumber != null">
                        employee_number = #{employeeNumber,jdbcType=VARCHAR},
                    </if>
                    <if test="snCode != null">
                        sn_code = #{snCode,jdbcType=VARCHAR},
                    </if>
                    <if test="assetTrackCode != null">
                        asset_track_code = #{assetTrackCode,jdbcType=VARCHAR},
                    </if>
                    <if test="assetTypeCode != null">
                        asset_type_code = #{assetTypeCode,jdbcType=VARCHAR},
                    </if>
                    <if test="status != null">
                        status = #{status,jdbcType=TINYINT},
                    </if>
                    <if test="subStatus != null">
                        sub_status = #{subStatus,jdbcType=TINYINT},
                    </if>
                    <if test="holder != null">
                        holder = #{holder,jdbcType=TINYINT},
                    </if>
                    <if test="holderCode != null">
                        holder_code = #{holderCode,jdbcType=VARCHAR},
                    </if>
                    <if test="holderName != null">
                        holder_name = #{holderName,jdbcType=VARCHAR},
                    </if>
                    <if test="subHolder != null">
                        sub_holder = #{subHolder,jdbcType=TINYINT},
                    </if>
                    <if test="subHolderCode != null">
                        sub_holder_code = #{subHolderCode,jdbcType=VARCHAR},
                    </if>
                    <if test="subHolderName != null">
                        sub_holder_name = #{subHolderName,jdbcType=VARCHAR},
                    </if>
                    <if test="orderCount != null">
                        order_count = #{orderCount,jdbcType=INTEGER},
                    </if>
                    <if test="damageType != null">
                        damage_type = #{damageType,jdbcType=TINYINT},
                    </if>
                    <if test="systemIdentifyFail != null">
                        system_identify_fail = #{systemIdentifyFail,jdbcType=TINYINT},
                    </if>
                    <if test="isDeleted != null">
                        is_deleted = #{isDeleted,jdbcType=TINYINT},
                    </if>
                    <if test="gmtModify != null">
                        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
                    </if>
                </trim>
        -->
    </insert>